:root {
  --text-p: #212121;
  --primary: #f9a826;
  --primary-p-light: #ffd95b;
  --primary-p-dark: #c17900;
  --secondary: #616161;
  --secondary-s-light: #8e8e8e;
  --secondary-s-dark: #373737;
  --background-light: #fff;
  --background-dark: #f2f2f2;
}

body {
  background-color: var(--background-dark);
}

/* NavBar */
.navbar {
  width: 99%;
  margin: auto;
  padding: 10px 30px 0 30px;
  background-color: #cfcfcf99;
  border-radius: 0px 0px 20px 20px;
}

a:hover {
  background-color: #0000000f;
}

.navbar-light .navbar-nav .nav-link {
  color: #0000008c;
  font-weight: bold;
  transition: 0.5s;
  padding: 8px 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #f2f2f2;
  border-radius: 10px 10px 0px 0px;
}

.loginBox {
  border: none;
  border-radius: 20px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, .575) !important;
}

.logout {
  justify-content: end;
}

.btn.logoutBtn {
  border: none;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 10px 10px 0px 0px;
  transition: 0.5s;
}

.btn.logoutBtn:hover {
  border-radius: 10px 10px 0px 0px;
  background-color: #f2f2f2;
}

.btn.logoutBtn:hover:after {
  content: ' 😢';
}

td.actions {
  text-align: end;
}

.content {
  height: 90vh;
}

.contentLogin {
  margin: auto;
  min-width: 370px;
}


/* Custom ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Table Users */
.colID {
  width: 2%;
}

.colName {
  width: 17%;
}

.colMail {
  width: 17%;
}

.colAction {
  width: 0%;
}

.emptyTable {
  text-align: center;
  font-weight: bold;
}

.containerTable {
  width: 100%;
  height: 70vh;
  overflow: auto;
}


/* Style React-Hook-Form */
.notifiAlert {
  color: #bf1616;
  background-color: #ff00002b;
  border-radius: 5px;
  text-align: center;
}

.notifiAlert::before {
  display: inline;
  content: "👆 ";
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #15814fcc;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(10px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

/* Prototipo */
.proto {
  margin: 0;
  min-width: 800px;
  min-height: 600px;
}

.protoMenu {
  background-color: var(--background-light);
  min-width: 240px;
  height: 100vh;
  min-height: 600px;
  margin: 0;
}

.protoGestion {
  min-height: 600px;
  background-color: var(--background-dark);
}

.protoGestionTitle {
  height: 20%;
}

.protoGestionTitle .icon {
  min-width: 150px;
  display: flex;
  justify-content: end;
}

.protoGestionTitle .text {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  font-size: xx-large;
  color: var(--secondary-s-dark);
}

.protoGestionTipi {
  height: 80%;
  padding-top: 50px;
}


.menuTop {
  height: 20%;
  margin: 0 6%;
}

.menuTopIcon {
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
  margin: auto 4px;
  border-radius: 20px;
  border: 2px solid var(--secondary-s-dark);
  background-color: transparent;
}

.menuTopText {
  display: flex;
  align-items: center;
  padding: 0;
}

.menuTopText .textName p {
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: bold;
  color: var(--text-p);
  margin: 0;
}

.menuTopText .textTipo p {
  font-family: inherit;
  font-weight: bold;
  color: var(--secondary-s-light);
  margin: 0;
}

.menuCenter {
  height: 55%;
  overflow-x: hidden;
  direction: rtl;
}

.menuCenter::-webkit-scrollbar {
  width: 5px;
}

.menuCenterContent {
  align-items: center;
  direction: ltr;
  margin-bottom: 10px;
}

.menuCenterContent .item {
  padding: 7px 0 7px 10px;
  margin: 5px 0 5px 0;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

.menuCenterContent .item:hover {
  background-color: var(--primary-p-light);
  cursor: pointer;
}

.menuCenterContent .icon {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  border: 2px solid var(--primary);
  padding-top: 4px;
}

.menuCenterContent .text {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 600;
}

.menuEnd {
  height: 25%;
  justify-content: center;
}

.menuEnd span {
  bottom: 30px;
}